{% extends "mainapp/basic.html" %}
{% load static %}

{% block title %}


{% endblock %} 



{% block body %}
<div class="container">
    <h1>Live Stocker Tracker</h1>
    <table class="table-container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Close</th>
            <th scope="col">Volume</th>
            <th scope="col">Timer(minutes)</th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in data.items %}
          <tr>
            <td id="symbol-{{key}}">{{ key }}</td>
            <td id="stock-price-{{key}}">{{ value.Open }}</td>
            <td id="stock-high-{{key}}">{{ value.High }}</td>
            <td id="stock-low-{{key}}">{{ value.Low }}</td>
            <td id="stock-close-{{key}}">{{ value.Close }}</td>
            <td id="stock-volume-{{key}}">{{ value.Volume }}</td>

            <td>
              <div>
                <div class="timer" style="display: flex">
                  <input type="number" class="form-control" id="inputTimer-{{key}}" name="inputTimer">
                  <button class="btn btn-outline-success" type="submit" value="submit" onClick="inicia('{{key}}')">Submit</button>
                </div>
                  <div id="tempo-{{key}}" name="tempo">0</div>
              </div>
            </td>
           
          </tr>
          {% endfor %}         
        </tbody>
      </table>

</div>
{% endblock %}

{% block js %}
<script>
  var time = {};
  var interval = {};
 
  function inicia(symbol){
      const val = event.target
      const tr = val.closest('tr')
      time[symbol] = Number(tr.querySelector('input[name="inputTimer"]').value)*60;
      interval[symbol] = time[symbol];
      setInterval(() => {contador(symbol)}, 1000);         
      
  }
  
  function contador(symbol){
    const individualTime = document.getElementById(`tempo-${symbol}`);
    const value = document.getElementById(`stock-price-${symbol}`).innerHTML;
    if(time[symbol] > 0){
        time[symbol] = time[symbol] - 1;
      }
      if(time[symbol] == 0){
        time[symbol] = interval[symbol]
        $.ajax({
          url: "/update",
          type: "GET",
              data: {
                Key: symbol,
                Price: value, 
          },
      
        }).done(function(response) {
          symbolValue = document.getElementById(`stock-price-${symbol}`)
          symbolValue.innerText = response
          
        });
        
      }
      individualTime.innerText = time[symbol];
  }
</script>
{% endblock %}
