{% extends "mainapp/basic.html" %}
{% load static %}

{% block title %}
{% load myfilters %}

{% endblock %} 

{% block css %}
<style>

</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Live Stocker Tracker</h1>
    <table class="table-container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col">Timer(minutes)</th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in data.items %}
          <tr>
            
            <td>{{ key }}</td>
            <td>{{ value }}</td>
            <td>
              <div>
                <div class="timer" style="display: flex">
                  <input type="number" class="form-control" id="inputTimer" name="inputTimer">
                  <button class="btn btn-outline-success" type="submit" value="submit" onClick="inicia()">Submit</button>
                </div>
                  <div id="tempo"></div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

</div>
{% endblock %}

{% block js %}
<script>
  var val;
  var time;

  function inicia(){
      val = document.getElementById('inputTimer');
      time = Number(val.value)*60;
      setTimeout("contador()", 6000);
  }
  
  function contador(){
      if(time > 0){
        time = time -1;
      }
      document.getElementById("tempo").innerHTML = time;
      setTimeout("contador()", 1000);
  }
</script>
{% endblock %}
